:root
{
    --AzulEscuro: #252239;
    --AzulClaro: #608DA1;
    --AmareloDourado: #E1B370;
    font-size: 15px;
}
body
{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
/* Header */
#header
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--AzulEscuro); 
    color:white;
    width: 100%;
    height: 64px;
}
#conteudoHeader
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}
#containerLogoFrase
{
    display: flex;
    flex-direction: row;
    align-items: center; 
    font-size: 0.9rem;
}
#containerLogo 
{
    padding-right: 15px;
}
#containerLogo img
{
    height: 42px;
    width: 42px; 
}
#containerLogoFrase p
{
    margin: 0px;
}
#menuNav
{
    display: flex;
    justify-content: right;
    width: 260px;
}
#menuNav ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    font-size: 0.8rem;
    width: 90%;
    margin: 0px;
    padding: 0px;
}
/* ---------------------------------------------------- */
/* Banner */

.banner
{
    width: 100%;
    color: white;
}
#conteudoBanner
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#opacidadeImgBanner
{
    width: 100%;
    height: 850px;
    position: absolute;
    background-color: var(--AzulEscuro);
    top: 0;
    opacity: 0.4;
}
#imgBanner
{
    width: 100%;
}
#imgBanner img
{
    width: 100%;
    height: 850px;
    object-fit: cover;
    object-position: top;
}
#conteudoEscritoBanner
{
    position: absolute;
    width: 950px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    height: 40%;
    padding-top: 40px; 
} 
#descricaoBanner
{
    width: 615px;
    font-size: 0.9rem;
    text-align: center;
}
#descricaoBanner h2
{
    margin: 0;
    line-height: 35px;
}
#tituloBanner
{
    width: 100%;
    font-size: 2.7rem;
    text-align: center;
}
#tituloBanner h1
{
    margin: 0px;
}
h1 .nomeDestacado
{
    color: var(--AmareloDourado);
}
#botaoDiagnostico
{
    font-size: 1.2rem;
    background-color: var(--AzulEscuro);
    padding: 0px 20px;
    border-radius: 40px;
    margin-top: 20px;
}
#botaoDiagnostico p
{
    margin: 15px 10px;
}

/* Etapas */
h2 .nomeDestacado
{
    color: var(--AmareloDourado);
}
#divTituloEtapas
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    text-align: center;
    
}
#tituloEtapas
{
    width: 300px;
    font-size: 1.3rem;
}
#tituloEtapas h2
{
   margin: 0;
}

.linha
{
    height: 3px;
    border-radius: 10%;
    background-color: black;
    width: 300px;
}